@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  text-align: center;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  /* border: 1px solid black; */
}

.App-header {
  height: 20px;
  margin: 20px;
  color: rgba(10,10,10,0.95);
  font-weight: bold;
}

.introduction {
  margin-top: 40px;
  margin-bottom: 40px;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.simulation-container {
  display: flex;
  justify-content: space-between;
}

.action-menu {  
  padding: 5px;
  flex-basis: 20%;
  height: 300px;
  border: 1px solid rgba(100,100,100,0.5);
  border-radius: 3px;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.action-menu-input {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 10px 5px;
  border-bottom: 1px solid rgba(100,100,100,0.5);
}
.input-label {
  font-size: 12px;
  font-weight: bold;
  align-self: center;
}
.input-number {
 /* align-self: flex-end; */
 text-align: right;
 border-radius: 3px;
 padding: 3px;
 border: 1px solid black;
}
.graph-container {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid rgba(100,100,100,0.5); */
}
.graph-one {
  flex-basis: 40%;
  height: 100px;
  border: 1px solid rgba(100,100,100,0.5);
  border-radius: 3px;
  /* background-color: blue; */
}
.graph-two {
  flex-basis: 40%;
  height: 100px;
  border: 1px solid rgba(100,100,100,0.5);
  border-radius: 3px;
  /* background-color: green; */
}


.button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}
